/* Written by TanJid */

* {
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*transition: 1s;*/
}

:root{
    --primary-color: #DDDBCF;
    --secondary-color: #2f2f2f;
}

.dark-mode{
    --primary-color: #000106;
    --secondary-color: #DDDBCF;
}

#dark-toggle{
    width: 30px;
    margin: 10px 20px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

.teejay{
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    position: relative;
    transition: 1s;/*BGFade*/
}

.teejayAlt{
    width: 100%;
    /*height: 100vh;*/
    background: var(--primary-color);
    position: relative;
    transition: 1s;/*BGFade*/
}

.teejayEgg{
    
    width: 100%;
    /*height: 100vh;*/
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /*transition: 1s;/*BGFade*/
}

.teejayVid{
    width: 100%;
    /*height: 100vh;*/
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    transition: 1s;/*BGFade*/
}

.teejayVid h1{
    font-size: 54px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.teejayVid p{
    /*color: #606163;*/
    line-height: 22px;
}


.teejayVid2{
    text-align: center;
    margin: 10px 80px;
}

.teejayVid2 h1{
    color: var(--secondary-color);
}

.teejayVid2 h2{
    color: var(--secondary-color);
}

.teejayVid2 p{
    /*color: #606163;*/
    line-height: 22px;
}

.teejayVid3{
    
    width: 100%;
    /*height: 100vh;*/
    /*background: var(--primary-color);*/
    display: flex;
    justify-content: center;
    transition: 1s;/*BGFade*/
}


.teejayVid3 h1{
    font-size: 54px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.teejayVid3 p{
    /*color: #606163;*/
    line-height: 22px;
}

.teejayVid4{
    margin: 1% 5%;
}

.teejayVid4 h1{
    color: var(--secondary-color);
}

.teejayVid4 h2{
    color: var(--secondary-color);
}

.teejayVid4 p{
    /*color: #606163;*/
    line-height: 22px;
}

.teejayVid5{
    width: 100%;
    /*height: 100vh;*/
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    transition: 1s;/*BGFade*/
}

.teejayVid5 button{
    transition: 1s;/*BGFade*/
}

.teejayVid5 button:hover{
    background: #ff4321;
}

.teejayVid6{
    text-align: center;
    margin: 10px 10px;
}


.teejayVid7{
    width: 100%;
    /*height: 100vh;*/
    background: var(--primary-color);
    justify-content: center;
    transition: 1s;/*BGFade*/
}



nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px
}

nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a:hover{
    color: #ff4321;
}

.logo{
    width: 120px;
    cursor: pointer;
    /*-webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(2px 2px 5px #222);*/
}

.info{
    padding-right: 20%;
    margin-left: 8%;
    margin-top: 8%;
}

.info h1{
    font-size: 54px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.info h2{
    font-size: 22px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.info p{
    /*color: #606163;*/
    line-height: 22px;
}

.inf{
    padding-right: 42%;
    text-align: justify;
    color: #606163;
}

.inf2{
    color: #606163;
}

button{
    width: 200px;
    height: 60px;
    border: 0;
    outline: none;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    border-radius:  30px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    margin: 30px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -30px;
    opacity: 0;
}

.check-box svg{
    width: 30px;
    margin: 15px;
}

svg path{
    stroke-width: 3;
    stroke: var(--primary-color);
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #ff4321;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 50px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}

span{
    color: #ff4321;
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img-box:hover .back-img{
    bottom: 40px;
}

.img-box:hover .main-img{
    left: 54%;
}



.img-box-about{
    width: 40%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 4%;
}

.img-box-about img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img-box-about:hover .back-img{
    bottom: 40px;
}

.img-box-about:hover .main-img{
    left: 54%;
}


.socials{
    margin-left: 8%;
    /*margin-top: 1%;*/
}

.bottom{
    position: absolute;
    bottom: 0;
}

.socials a{
    font-size: 30px;
    color: var(--secondary-color);
    margin-right: 20px;
}

.socials a:hover{
    color: #ff4321;
}


.socials-cont{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    text-align: center;
}

.socials-cont a{
    font-size: 30px;
    color: var(--secondary-color);
    margin-right: 2%;
    margin-left: 2%;
}

.socials-cont a:hover{
    color: #ff4321;
}



.app-list{
    padding-top: 0%;
    padding-bottom: 1%;
    padding-right: 42%;
    padding-left: 4%;
    text-align: center;
}

.app-list img{
    vertical-align: middle;
    color: var(--secondary-color);
    margin-top:2%;
    margin-bottom:2%;
    margin-right: 2%;
    margin-left: 2%;
    width: 5%;
}

.app-list h2{
    color: var(--secondary-color);
    padding-left: 0%;
}



.ico-slider{
    text-align: center;
    padding-top: 10px;
    padding-right: 42%;
    padding-left: 4%;
    /*background: linear-gradient(var(--primary-color), #DDDBCF, var(--primary-color));*/
    background: #DDDBCF;
    
}


.ico-slider h2{
    padding-left: 0%;
}

.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 120%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}

.footer{
    text-align: center;
    font-size: 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
    transition: 1s;
}